body {
    background-image: url("../images/background.jpg");
}

h2, p {
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 2.25vw;
    font-weight: 600;
    letter-spacing: 0.15vw;
    line-height: 150%;
}

p {
    display: inline-block;
}

#starWarsLogo{
    width: 30%;
}

#hangman-h1 {
    font-family: 'Nanum Coding Gothic', Arial, serif;
    font-weight: normal;
    font-size: 3.5vw;
    letter-spacing: 1.5vw;
}

#mainContainer, #imageColumn, #textInterface {
    border-color: #feda4a !important;
    border-style: dashed;
    border-width: 3px !important;
}

#columnImage {
    max-width: 80%;
    max-height: 40vw;
}

#currentWord > p {
    letter-spacing: 2.25vw;
}

@media (max-width: 767px) {
    h2, p {
        font-size: 3.5vw;
    }

    #imageColumn {
        border-right-width: 0 !important;
        padding-bottom: 2rem !important;
    }

    #imageColumn > img {
        max-height: 50vh;
    }

    #textInterface {
        border-left-width: 0 !important;
    }
}